<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>FLASH CARD</title>
<link rel="stylesheet" href="../css/bootstrap.min.cyborg.css">
<link rel="stylesheet" href="../webjars/bootstrap/3.4.1/css/bootstrap-theme.min.css">

<script type="text/javascript" src="../webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="../webjars/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style type="text/css">
/* 用於list-group 下,改變游標圖示  */
.myBadgeCursor>li>.badge {
	cursor: pointer;
}

.badgeSpan { /* 用於 list badge (delete)*/
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
</style>

<!-- global variable -->
<script type="text/javascript">
  const contextPath = "/FlashCardWebV2";
  const flashcards = "flashcards";//base path
  const model = "flashcardHolder";//*** 修改這裡 
  const quiz = "quiz";
  listModels = "flashcards";//*** 修改這裡 
  var pageInfo;
  var pageNum = 1;
  var id;
</script>

<!-- echo and init -->
<script type="text/javascript">
  $(document).ready(function() {
	$("#form").attr("action",contextPath+"/"+model);

	$.ajax({
	  type : "get",
	  dataType : "json",
	  url : contextPath + "/" + model + "/echo",
	  success : function(resp) {
		console.log("xxx:" +resp);
		$("#id").val(resp.data.id);
		$("#name").val(resp.data.name);
		$("#flashcard_term").val(resp.data.flashcard.term);
	  },
	  error : function(thrownError) {
		alert("echo error:" + thrownError);
	  }
	});
  });
</script>

<!-- get data、pager and list -->
<!-- get data 和 pager 及 list 需同時存在 -->
<!-- get data and list -->
<script type="text/javascript">
      $(function() {
          getData(pageNum);
      });
      
      //get data from ajax  
      function getData(num){
          //失效時不處理
          //$(this) 代表某個呼叫getData 時傳入的一個物件,ex: getData(this,num)
          if($(this).hasClass('hrefDisabled')){
            return;
          }
        
          pageNum=num;
          
          $.ajax({
              type : "get",
              dataType:"json",
              url :  contextPath+"/simple/"+listModels+"/"+num, 
              success : function(resp) {
                
                let data = [];
                pageInfo = resp.pageInfo;
                for (i = 0; i < pageInfo.list.length; i++) {
                  data.push(pageInfo.list[i]);
                }
                
                createListDomElement(data,resp.pageInfo.citedNums);
    
                //處理分頁
                doPager(); 
              },
              error : function(thrownError) {
                alert("get data error:" + thrownError);
              }
            });
          
        //創建list item
          function createListDomElement(ds,citedNums) {
            $(".list-group-item-title").next().addClass("list-group-item-replaced");
            $(".list-group-item-replaced").nextUntil(".list-group-item-footer").remove(); 
            
           //*  
           const domElements =  $.map(ds,function(place,i){
                let nums=  citedNums[i];
                
              return `
              <li class="list-group-item"><a href="javascript:;" class="list-group-item"
              onclick="doSelectd.call(this)" data-id="${place.id}" 
                data-value="${place.value}" ><!-- //***selected-list  -->
                  <span class="badge" onclick="">
                      <font size="5">${nums}</font>
                  </span>
                  <h4 class="h4" class="list-group-item-heading">${place.value}</h4>
              </a></li>
              ` ;
            }).join(""); 
           //*/
            
         
             
            $('.list-group-item-replaced').replaceWith(domElements);
          }
        }
      
      //selected list item  //***selected-list 
      function doSelectd(){
        var selectedId=$(this).attr('data-id');
        var selectedValue=$(this).attr('data-value');
        
        $("#flashcard_id").val(selectedId);
        $("#flashcard_term").val(selectedValue);
      }
      
</script>
<!-- /get data and list -->

<!-- pager -->
<script type="text/javascript">
      //(延後載入)
      function doPager() {
          $(".pager li ul .pager-first a").attr("onclick","getData.call(this,"+1+")");
          doPagerAction(".pager li ul .pager-first",pageInfo.pageNum == 1);
          
          $(".pager li ul .pager-previous a").attr("onclick","getData.call(this,"+(parseInt(pageInfo.pageNum)-1)+")");
          doPagerAction(".pager li ul .pager-previous",!pageInfo.hasPreviouPage);
        
            createPagerDomElement(pageInfo.navigatepageNums);
    
          $(".pager li ul .pager-next a").attr("onclick","getData.call(this,"+(parseInt(pageInfo.pageNum)+1)+")");
          doPagerAction(".pager li ul .pager-next",!pageInfo.hasNextPage);
    
          $(".pager li ul .pager-last a").attr("onclick","getData.call(this,"+pageInfo.navigateLastPage+")");
          doPagerAction(".pager li ul .pager-last",pageInfo.isLastPage);
      }
    
      function createPagerDomElement(navigatepageNums) {
        $(".pager-previous").next().addClass("pager-pageNum-replaced");
        $(".pager-pageNum-replaced").nextUntil(".pager-next").remove(); 
        
        const domElements = navigatepageNums.map( place => {
          var path=contextPath+"/"+listModels+"/"+place;
          
          if(pageNum==place){
            return `
            <li class="active"><a class="hrefDisabled" href='javascript:;' onclick=''>${place}</a></li>
          `;
          }else{
            return `
            <li><a href='javascript:;' onclick='getData.call(this,${place})'>${place}</a></li>
          `;
          }
        }).join("");
        
        $('.pager-pageNum-replaced').replaceWith(domElements);
      }
      
      //使失效中
      function doPagerAction(selector,ineffective) {
        if(ineffective){
            $(selector).addClass("disabled");
            $(selector + " a").addClass("hrefDisabled");
        }else{
            $(selector).removeClass("disabled");
            $(selector + " a").removeClass("hrefDisabled");
        }
      }
      
    </script>
<!-- /pager -->
<!-- /get data、pager and list -->

<!-- nav -->
<script type="text/javascript">
  $(document)
	  .ready(
		  function() {

			$(".navbar-header a").attr("href", contextPath);

			$(".navbar-collapse .modelManager a").attr("href",
				contextPath + "/" + flashcards + "/fcsManager");

			let mm_fc = $(".navbar-collapse ul .dropdown ul .modelManager-flashcard a");
			mm_fc.attr("href", contextPath + "/" + flashcards + "/fcManager");
			mm_fc.text = "字卡管理";

			$(
				".navbar-collapse ul .dropdown ul .modelManager-flashcardHolder a")
				.attr("href", contextPath + "/" + flashcards + "/fhManager");

			$(".navbar-collapse ul .dropdown ul .modelManager-holderData a")
				.attr("href", contextPath + "/" + flashcards + "/hdManager");

			$(".navbar-collapse ul .quizManager a").attr("href",
				contextPath + "/" + quiz + "/quizManager");

			//使作用中
			/* doNavAction(".navbar-collapse ul .dropdown ul .modelManager-flashcard"); *///*** 修改這裡 
		  });

  //使作用中
  function doNavAction(selector) {
	$(selector).addClass("active");
	$(selector + " a").addClass("hrefDisabled");
  }
</script>
<!-- /nav -->

<!-- 使向後端取得判是否已存在重複資料的延遲發送 -->
<script type="text/javascript">
  $(document).ready(function() {
	let element = $("#term");
	let orinColor = element.css("background-color");

	$("#term").keyup(function() {
	  let term = element.val();
	  if (term == null || term == "" || term == undefined) {
		term = null;
	  }

	  clearTimeout($(this).data('timer'));

	  var timer = setTimeout(function() {
		$.ajax({
		  url : model + "/byTerm/" + term,
		  dataType : 'JSON',
		  success : function(resp) {
			if (resp.isExist) {
			  element.css({
				"color" : "red"
			  });
			} else {
			  element.css({
				"color" : orinColor
			  });
			}
		  }
		});
	  }, 500);

	  $(this).data('timer', timer);
	});
  });
</script>
<!-- /使向後端取得判是否已存在重複資料的延遲發送 -->


</head>
<body>

    <!-- 導航欄 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">FlashCard </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active??? modelManager"><a class="hrefDisabled???" href="">字卡管理 </a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="active??? modelManager-flashcard"><a class="hrefDisabled???" href="">Flashcard</a></li>

                            <li class="active???? modelManager-flashcardHolder"><a class="hrefDisabled???" href="">FlashcardHolder</a></li>

                            <li class="active??? modelManager-holderData"><a class="hrefDisabled???" href="">HolderData</a></li>
                        </ul></li>
                    <li class="active??? quizManager"><a class="hrefDisabled???" href="">測驗管理 </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-target="#myModal" data-toggle="modal">關於</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /導航欄 -->

    <!-- 巨屏 -->
    <div class="jumbotron">
        <div class="container">
            <h1>FlashCard</h1>
            <p>管理 Flashcard Holder</p>
            <!-- //*** 修改這裡  -->
        </div>
    </div>

    <!-- form -->
    <div class="container">
        <form id="form" class="form-horizontal" action="" method="post">
            <fieldset>
                <legend>編輯 Flashcard Holder</legend>
                <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="ex: apple">
                    </div>
                </div>
                <div class="form-group">
                    <label for="flashcard_term" class="col-lg-2 control-label">Flashcard</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="flashcard_term" placeholder="ex: apple">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <input type="hidden" name="_method" value="put">
                        <input type="hidden" id="id" name="id">
                        <input type="hidden" id="flashcard_id" name="fcId">
                        <button type="reset" class="btn btn-default" style="color: black;">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <!--  selected list  -->
    <!-- 分頁 -->
    <div class="container">
        <ul class="pager">
            <li>
                <ul class="pagination">
                    <li></li>
                    <!-- 首頁 -->
                    <li class="disabled??? pager-first"><a class="hrefDisabled???" href="javascript:;">&laquo;
                        </a></li>

                    <!-- 上一頁 -->
                    <li class="disabled??? pager-previous"><a class="hrefDisabled???" href="javascript:;">Previous
                        </a></li>

                    <!-- 中間頁數 -->
                    <li class="pager-pageNum-replaced"></li>

                    <!-- 下一頁 -->
                    <li class="disabled??? pager-next"><a class="hrefDisabled???" href="javascript:;">Next </a></li>

                    <!-- 最末頁 -->
                    <li class="disabled??? pager-last"><a class="hrefDisabled???" href="javascript:;">&raquo; </a></li>
                    <li></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /分頁 -->

    <!-- list -->
    <div class="container" style="width: 50%;">
        <ul class="list-group myBadgeCursor">
            <li class="list-group-item list-group-item-title" data-contextPath="${contextPath }"
                data-queryPath="${editor.attributes.selectedModelQueryPath}"><span class="badge" onclick="">
                    <font size="5">totle</font>
                </span>
                <h3>Flashcard</h3></li>

            <li class="list-group-item-replaced"></li>
        </ul>
    </div>
    <!-- /list -->
</body>
</html>