<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
<title>FLASH CARD</title>
<link rel="styleSheet" type="text/css" href="../css/EvenTable.css">
<link rel="stylesheet" href="../css/bootstrap.min.cyborg.css">
<link rel="stylesheet" href="../webjars/bootstrap/3.4.1/css/bootstrap-theme.min.css">

<script type="text/javascript" src="../webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="../webjars/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style type="text/css">
/* 用於list-group 下,改變游標圖示  */
.myBadgeCursor>li>.badge {
	cursor: pointer;
}
</style>

<!-- global variable -->
<script type="text/javascript">
  const contextPath = "/FlashCardWebV2";
  const flashcards = "flashcards";
</script>

<script type="text/javascript">
  $(function() {
	$.ajax({
	  type : "get",
	  url : contextPath + "/" + "flashcards",
	  success : function(resp) {
		console.log("datas=" + resp.datas[0].term);
		console.log("info=" + resp.pageInfo);
	  },

	  error : function(thrownError) {
		alert("error:" + thrownError);
	  }
	});
  });
</script>

<!-- nav -->
<script type="text/javascript">
  $(document).ready(
	  function() {
		$(".navbar-header a").attr("href", contextPath);

		$(".navbar-collapse .flashcardManager a").attr("href",
			contextPath + "/" + flashcards + "/fcsManager");

		$(".navbar-collapse ul .dropdown ul .flashcardManager-flashcard a")
			.attr("href", contextPath + "/" + flashcards + "/fcManager");

		$(".navbar-collapse ul .dropdown ul .flashcardManager-flashcard a")
			.attr("href", contextPath + "/" + flashcards + "/fhManager");

		$(".navbar-collapse ul .dropdown ul .flashcardManager-flashcard a")
			.attr("href", contextPath + "/" + flashcards + "/hdManager");

		//使作用中
		act(".navbar-collapse ul .dropdown ul .flashcardManager-flashcard");

		//使 a href 失效 
		$('a.hrefDisabled').on("click", function(e) {
		  e.preventDefault();
		});
	  });

  //使作用中
  function act(selector) {
	$(selector).addClass("active");
	$(selector + " a").addClass("hrefDisabled");
  }
</script>

<!-- list -->
<script type="text/javascript">
  $(function() {
	var flashcard = "flashcard";

	//badge-add
	$(".list-group .list-group-item .badge-add").attr("onclick",
		"badgeLocate('" + flashcard + "')");

	//badge-edit
	$(".list-group .list-group-item .badge-edit").attr("onclick",
		"badgeLocate('" + flashcard + "/2" + "')");

  });

  //badge 重定向
  function badgeLocate(path) {
	console.log("path=" + path);
	window.location.href = contextPath + "/" + path;
  }
</script>

<style type="text/css">
.badgeSpan { /* 用於 list badge (delete)*/
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
</style>

<script type="text/javascript">
  //$("#listDeleteModal").model("hide");
  function modelValues(id, name) {
	$("#modal_fhName").text(name);
	$("#modal_form").attr("action", function(i, orig) {
	  return orig + id;
	});
  }
</script>

</head>
<body>
    <!-- 清單前往 web 的 path
    <c:set var="pathFlashcardHolder" value="flashcardHolder" /> -->

    <!-- 分頁前往 web 的 base path
    <c:set var="pathForPager" value="flashcards/fhManager" scope="request" /> -->

    <!-- 導航欄 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">FlashCard </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active??? flashcardManager"><a class="hrefDisabled???" href="">字卡管理 </a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="active???xx flashcardManager-flashcard"><a class="hrefDisabled???" href="">Flashcard</a></li>

                            <li class="active???? flashcardManager-flashcardHolder"><a class="hrefDisabled???"
                                    href="">FlashcardHolder</a></li>

                            <li class="active??? flashcardManager-holderData"><a class="hrefDisabled" href="">HolderData</a></li>
                        </ul></li>
                    <li class="active???"><a class="hrefDisabled???" href="${pageContext.request.contextPath}/??? ">測驗管理
                        </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-target="#myModal" data-toggle="modal">關於</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /導航欄 -->

    <!-- 模態框 (關於)-->
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">FlashCard</h4>
                </div>
                <div class="modal-body">
                    <p>編輯中&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <font color="black"> Close</font>
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal (關於)-->

    <!-- 巨屏 -->
    <div class="jumbotron">
        <div class="container">
            <h1>FlashCard</h1>
            <p>管理 Flashcard</p>
        </div>
    </div>

    <!-- list -->
    <div class="container">
        <ul class="list-group myBadgeCursor">
            <li class="list-group-item"><span class="badge badge-add" onclick="">
                    <font size="5">ADD</font>
                </span>
                <h3>FlashcardHolder</h3></li>
            <!-- foreach begin-->
            <li class="list-group-item"><a href="#" class="list-group-item">
                    <span class="badge" style="background: red;" data-target="#listDeleteModal" data-toggle="modal"
                        onclick='modelValues("${fh.id}","${fh.name}")'>
                        <font size="4">DELETE</font>
                    </span>
                    <span class="badge badgeSpan badge-edit" onclick="">
                        <font size="4">EDIT</font>
                    </span>
                    <h4 class="h4" class="list-group-item-heading">???</h4>
                    <p class="h4" class="list-group-item-text">???</p>
                </a></li>
            <!-- foreach end-->
        </ul>
    </div>
    <!-- /list -->

    <!-- 分頁 -->
    <div class="container">
        <ul class="pager ">
            <li>
                <ul class="pagination">
                    <li></li>
                    <!-- 首頁 -->
                    <li class="disabled??? pager-first"><a class="hrefDisabled???" href="???/1">&laquo; </a></li>

                    <!-- 上一頁 -->
                    <li class="disabled???"><a class="hrefDisabled???" href="???/{pageInfo.pageNum-1}">Previous
                        </a></li>
                    <!-- 中間頁數 -->
                    <!-- foreach pageInfo.navigateFirstPage to pageInfo.navigateLastPage-->
                    <li class="active???"><a class="hrefDisabled???" href="???/?"> </a></li>

                    <!-- 下一頁 -->
                    <li class="disabled???"><a class="hrefDisabled???" href="?/{pageInfo.pageNum+1}">Next </a></li>

                    <!-- 最末頁 -->
                    <li class="disabled???"><a class="hrefDisabled???" href="?/???">&raquo; </a></li>
                    <li></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /分頁 -->

    <!-- 模態框 用於 list delete-->
    <div class="modal fade" tabindex="-1" role="dialog" id="listDeleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">FlashcardHolder</h4>
                </div>
                <div class="modal-body">
                    <label id="modal_fhName" style="font-size: 20px;">name</label>
                </div>
                <div class="modal-footer">
                    <form id="modal_form" action="${pageContext.request.contextPath}/flashcardHolder/" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <font color="black">Close</font>
                        </button>
                        <button id="model_delete" type="submit" class="btn btn-primary" style="background: red;">Delete
                            Data</button>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal (for list delete)-->

</body>
</html>