<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="idv.fc.mybatis.mapper.CardMapper">

	<insert id="insertCard" useGeneratedKeys="true" keyProperty="tag">
		insert into
		card
		(id,name,uid,create_date) values
		(null,#{name},#{uid},now())
	</insert>

<!--  -->
	<resultMap type="Card" id="cardResultMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="vid" column="vid" />
		<result property="uid" column="uid" />
		<result property="tag" column="tag" />
		<result property="step" column="step" />
		<result property="createDate" column="create_date" />
		<result property="lastTime" column="last_time" />
		<result property="usageCount" column="usage_count" />
		<result property="examCount" column="exam_count" />
		<result property="passCount" column="pass_count" />
		<result property="stepTime" column="step_time" />
		<association property="vocabulary" javaType="Vocabulary" columnPrefix="v_">
			<result property="id" column="v_id" />
			<result property="vocabulary" column="vocabulary" />
			<result property="translation" column="translation" />
			<result property="createDate" column="v_create_date" />
			<result property="tag" column="v_tag" />
		</association>
	</resultMap>

	<sql id="cardQueryById_Column_List">
		c.id, c.name, c.vid, c.uid, c.tag, c.step, c.create_date,
		c.last_time,
		c.usage_count, c.exam_count, c.pass_count, c.step_time,
		v.vocabulary, v.translation, v.id
		v_id, v.create_date v_create_date, v.tag v_tag
	</sql>

	<select id="queryById" resultMap="cardResultMap">
		select
		<include refid="cardQueryById_Column_List" />
		from card c left join vocabulary v on c.vid=v.id where c.id=#{id}
	</select>

	<resultMap type="Card" id="queryByIdByStepOne">
		<id property="id" column="id" />
		<result property="vid" column="vid" />
		<association property="vocabulary"
			select="idv.fc.mybatis.mapper.VocabularyMapper.queryByIDTwo" column="vid">
		</association>
	</resultMap>

	<select id="queryByIdByStepOne" resultMap="queryByIdByStepOne">
		select * from card where id=#{id}
	</select>





</mapper>