<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd">


	<mvc:default-servlet-handler />
	<mvc:annotation-driven
		conversion-service="converterUtil" />

	<context:component-scan base-package="idv.fc,idv.tool"></context:component-scan>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<bean id="converterUtil"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="idv.tool.TimestampConverter" />
			</list>
		</property>
	</bean>

	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="idv.fc.exception.FindErrorException">redirect:/error</prop>
			</props>
		</property>
	</bean>


	<bean id="DaoFactory" class="idv.fc.dao.factory.DaoFactory"></bean>
	
	

<!--  
	<bean name="/process/vocabulary/add"
		class="idv.kwl.handle.controller.concrete.CreateVocabularyController">
		<property name="viewName" value="testresult" />
		<property name="dao" ref="VocabularyDao" />
		<property name="model" value="VocabularyProxy" />
	</bean>

	<bean name="/process/vocabulary/delete"
		class="idv.kwl.handle.controller.concrete.DeleteVocabularyController">
		<property name="viewName" value="testresult" />
		<property name="dao" ref="VocabularyDao" />
	</bean>

	<bean name="/process/vocabulary/update"
		class="idv.kwl.handle.controller.concrete.UpdateVocabularyController">
		<property name="viewName" value="testresult" />
		<property name="dao" ref="VocabularyDao" />
		<property name="model" value="VocabularyProxy" />
	</bean>

	<bean name="/process/vocabulary/query"
		class="idv.kwl.handle.controller.concrete.QueryVocabularyController">
		<property name="viewName" value="testlist" />
		<property name="dao" ref="VocabularyDao" />
	</bean>
-->






	<bean id="handleableCase"
		class="idv.kwl.handle.cardhandler.drawcardcase.DrawCardCase"
		scope="prototype">
		<property name="drawRule" ref="drawRule" />
	</bean>

	<bean id="drawRule"
		class="idv.kwl.handle.cardhandler.drawcardcase.Rule1"
		scope="prototype">
	</bean>




</beans>