@charset "UTF-8";

.evenTable {
	border-collapse: collapse;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.evenTable input[type=text] {
	font-size: 30px;
}

.evenTable input[type=submit] {
	width: 10em;
	height: 2em;
	font-size: 20px;
}

.evenTable td {
	border: 0px solid #888888;
	padding: 10px;
	font-size: 30px;
}

.evenTable tr:nth-child(even) {
	background-color: #FFC286;
	color: #555555;
}

.evenTable tr:nth-child(odd) {
	background-color: #FF8040;
	color: #ffffff;
}

.evenTable tr:nth-child(1) {
	background-color: #FF80C0;
	color: #000000;
	font-weight: bold;
}

.evenTable th:first-child, .evenTable td:first-child {
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
}

.evenTable th:last-child, .evenTable td:last-child {
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
}

body {
	background-image: url("../picture/tile4.jpg");
	background-repeat: repeat;
	background-color: #ffffff;
	background-repeat: repeat;
}