<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="idv.fc.mapper.VocabularyMapper">


	<insert id="insertVocabulary">
		insert into vocabulary (id,vocabulary,translation,create_date)
		values("v_apple","apple","蘋果",now())
	</insert>


</mapper>