<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
<!-- 已整合SSM
	<properties resource="property/jdbc.properties" />
 -->

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
	</settings>

	<typeAliases>
		<!-- <typeAlias type="idv.fc.pojo.Vocabulary" alias="Vocabulary" /> -->
		<package name="idv.fc.model" />
		<package name="idv.fc.dto" />
	</typeAliases>

	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
	</plugins>

<!--  已整合SSM
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	-->
	<!-- 已整合SSM
	<mappers>
		 <mapper resource="mybatis/mappers/vocabularyMapper.xml" />
		<package name="idv.fc.mybatis.mapper" />
	</mappers>
	-->
</configuration>