<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="config" class="com.ilan.appinitialization.AppConfig"
		scope="singleton">
		<property name="factoryConfig" ref="factoryConfig"></property>
	</bean>

	<bean id="factoryConfig"
		class="com.ilan.appinitialization.factory.FactoryConfig"
		scope="singleton" init-method="init">
		<property name="xmlRootReferer"
			value="com/ilan/appinitialization/factory" />
		<property name="addBeansXmlReferer">
			<set>
				<value>factory.xml</value>
				<value>daoFactory.xml</value>
				<value>connection.xml</value>
				<value>exception.xml</value>
			</set>
		</property>
	</bean>



</beans>
