<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">

<title>FLASH CARD</title>
<link rel="stylesheet" href="../css/bootstrap.min.cyborg.css">
<link rel="stylesheet" href="../webjars/bootstrap/3.4.1/css/bootstrap-theme.min.css">

<script type="text/javascript" src="../webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="../webjars/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style type="text/css">
/* 用於list-group 下,改變游標圖示  */
.myBadgeCursor>li>.badge {
	cursor: pointer;
}

.badgeSpan { /* 用於 list badge (delete)*/
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
</style>

<!-- global variable -->
<script type="text/javascript">
  const contextPath = "/FlashCardWebV2";
  const flashcards = "flashcards";//base path
  const models = "flashcards";//*** 修改這裡 
  const model = "flashcard";//*** 修改這裡 
  const quiz = "quiz"; 
  var pageInfo;
  var datas;
  var pageNum=1;
  var searchResult=[];
  var searchMod=0;//0:no search ; 1:search
  
</script>

<!-- get datas -->
<script type="text/javascript">
  $(function() {
	getData(pageNum);
	
  });
  
  //get datas from ajax
  function getData(num){
	  //失效時不處理
	  if($(this).hasClass('hrefDisabled')){
		return;
	  }
	  
	  let pattern=$("#searchInput").val();
	 if( pattern){
	  searchMod=1;
	 }else{
	  searchMod=0;
	 }
	 
 
	  num=parseInt(num);
	  let url;
	  if(searchMod==1){
		//search
		if(num>=0){
			url=contextPath+"/"+model+"/like/"+pattern+"/"+num;
		}else{
		  	url=contextPath+"/"+model+"/like/"+pattern;
		}
	  }else{
		//no search
		url =contextPath + "/" + models+"/"+num;
	  }
	  
	 
	  $.ajax({
		  type : "get",
		  dataType:"json",
		  url : url, 
		  success : function(resp) {
			data = [];
			pageInfo = resp.pageInfo;
			
			for (i = 0; i < pageInfo.list.length; i++) {
			  data.push(pageInfo.list[i]);
			}
			pageNum=pageInfo.pageNum;
			
			createListDomElement(data);

			
			//處理分頁
			doPager();
		  },

		  error : function(thrownError) {
			alert("error:" + thrownError);
		  }
		});
	  
	//創建list item
	  function createListDomElement(ds) {
	    let elementReplaced=$(".list-group-item-title").next();
	    elementReplaced.addClass("list-group-item-replaced");
	    elementReplaced.hide();
	    elementReplaced.nextUntil(".list-group-item-footer").remove(); 
	  
	  	if(ds.length==0){
	  	  return ;
	  	}
	  	
	    const domElements = ds.map( place => {
	      return `
	      <li class="list-group-item"><a href="#" class="list-group-item">
              <span class="badge" style="background: red;" data-target="#listDeleteModal" data-toggle="modal"
                  onclick='modelValues("${place.id}","${place.value[0]}","${place.value[1]}")'><!--//*** 修改這裡 -->
                  <font size="4">DELETE</font>
              </span>
              <span class="badge badgeSpan badge-edit" onclick="badgeEditLocate(this)" data-id="${place.id}">
                  <font size="4">EDIT</font>
              </span>
              <h4 class="h4" class="list-group-item-heading">${ place.value[0]}</h4><!--//*** 修改這裡 -->
              <p class="h4" class="list-group-item-text">${ place.value[1] }</p><!--//*** 修改這裡 -->
      	  </a></li>
	      `;
	    }).join("");

	    $('.list-group-item-replaced').replaceWith(domElements);
	  }
	}
  
  //badge edit 重定向
  function badgeEditLocate(element) {
	window.location.href = contextPath + "/" + model+"/"+$(element).attr('data-id');
  }
</script>

<!-- list -->
<script type="text/javascript">
  $(function() {
    $(".list-group .list-group-item .badge-add").click(function(){
      window.location.href = contextPath + "/" + model;
    }); 
    
    
    //search
    $("#searchButton").click(function (){
      let pattern=$("#searchInput").val();
      if(pattern ==null || pattern==''){
    	alert('搜索資料是空的');
    	return;
      }
      
      getData(-1);
    });
  });
</script>

<!-- modal (list delete) -->
<script type="text/javascript">
    //*** 修改這裡 
     function modelValues(id,term,definition) {
        $("#modal_term").text(term);
        $("#modal_definition").text(definition);
        $("#modal_form").attr("action", contextPath+ "/"+model+"/"+id);
      }
</script>

<!-- nav -->
<script type="text/javascript">
  $(document).ready(
	  function() {
		
		$(".navbar-header a").attr("href", contextPath);

		$(".navbar-collapse .modelManager a").attr("href",
			contextPath + "/" + flashcards + "/fcsManager");

		let mm_fc=$(".navbar-collapse ul .dropdown ul .modelManager-flashcard a");
		mm_fc
			.attr("href", contextPath + "/" + flashcards + "/fcManager");
		mm_fc.text="字卡管理";

		$(".navbar-collapse ul .dropdown ul .modelManager-flashcardHolder a")
			.attr("href", contextPath + "/" + flashcards + "/fhManager");

		$(".navbar-collapse ul .dropdown ul .modelManager-holderData a")
			.attr("href", contextPath + "/" + flashcards + "/hdManager");
		
		$(".navbar-collapse ul .quizManager a")
			.attr("href", contextPath + "/" + quiz + "/quizManager");

		//使作用中
		doNavAction(".navbar-collapse ul .dropdown ul .modelManager-flashcard");//*** 修改這裡 
 
	  });
  

  //使作用中
  function doNavAction(selector) {
	$(selector).addClass("active");
	$(selector + " a").addClass("hrefDisabled");
  }
</script>

<!-- pager -->
<script type="text/javascript">
	$(function(){
	  let pagenumElement=$(".form-control-pagenum");
	  
	  pagenumElement.change(function(){
    	  let pagenum=pagenumElement.val();
    	  if(pagenum<=0){
    		pagenum=1;
    	  }else if(pagenum>pageInfo.pages){
    		pagenum=pageInfo.pages;
    	  }
    	  
    	  //前往指定page num
    	  $(".pager li ul .pager-goto a").attr("onclick","getData.call(this,'"+pagenum+"')");
	  });
	  
	  pagenumElement.mousedown(function (){
		pagenumElement.val("");
	  });
	 
	});

  //(延後載入)
  function doPager() {
	  $(".pager li ul .pager-first a").attr("onclick","getData.call(this,"+1+")");
	  doPagerAction(".pager li ul .pager-first",pageInfo.pageNum == 1);

	  $(".pager li ul .pager-previous a").attr("onclick","getData.call(this,"+(pageInfo.pageNum-1)+")");
	  doPagerAction(".pager li ul .pager-previous",!pageInfo.hasPreviousPage);
	
		createPagerDomElement(pageInfo.navigatepageNums);

	  $(".pager li ul .pager-next a").attr("onclick","getData.call(this,"+(pageInfo.pageNum+1)+")");
	  doPagerAction(".pager li ul .pager-next",!pageInfo.hasNextPage);

	  $(".pager li ul .pager-last a").attr("onclick","getData.call(this,"+pageInfo.pages+")");
	  doPagerAction(".pager li ul .pager-last",pageInfo.isLastPage);
  }

  function createPagerDomElement(navigatepageNums) {
	$(".pager-previous").next().addClass("pager-pageNum-replaced");
  	$(".pager-pageNum-replaced").nextUntil(".pager-next").remove(); 
	
    const domElements = navigatepageNums.map( place => {
      var path=contextPath+"/"+models+"/"+place;
      
      if(pageNum==place){
    	return `
      	<li class="active"><a class="hrefDisabled" href='javascript:;' onclick=''>${place}</a></li>
      `;
      }else{
    	return `
      	<li><a href='javascript:;' onclick='getData.call(this,${place})'>${place}</a></li>
      `;
      }
    }).join("");
	
    $('.pager-pageNum-replaced').replaceWith(domElements);
  }
  
  //使失效中
  function doPagerAction(selector,ineffective) {
	if(ineffective){
    	$(selector).addClass("disabled");
    	$(selector + " a").addClass("hrefDisabled");
	}else{
    	$(selector).removeClass("disabled");
    	$(selector + " a").removeClass("hrefDisabled");
	}
  }
  
</script>


<!-- 使 a href 失效 -->
<script type="text/javascript">
  $(function() {
    $('.hrefDisabled').on("click", function(e) {
      disableHref();
    });
  });
</script>
<body>

    <!-- 導航欄 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">FlashCard </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active??? modelManager"><a class="hrefDisabled???" href="">字卡管理 </a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-expanded="false">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="active??? modelManager-flashcard"><a class="hrefDisabled???" href="">Flashcard</a></li>

                            <li class="active???? modelManager-flashcardHolder"><a class="hrefDisabled???" href="">FlashcardHolder</a></li>

                            <li class="active??? modelManager-holderData"><a class="hrefDisabled???" href="">HolderData</a></li>
                        </ul></li>
                    <li class="active??? quizManager"><a class="hrefDisabled???" href="">測驗管理 </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-target="#myModal" data-toggle="modal">關於</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /導航欄 -->

    <!-- 模態框 (關於)-->
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">FlashCard</h4>
                </div>
                <div class="modal-body">
                    <p>編輯中&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <font color="black"> Close</font>
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal (關於)-->

    <!-- 巨屏 -->
    <div class="jumbotron">
        <div class="container">
            <h1>FlashCard</h1>
            <p>管理 Flashcard</p>
            <!-- //*** 修改這裡  -->
        </div>
    </div>

    <!-- list -->
    <div class="container">
        <!-- search -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input id="searchInput" type="text" class="form-control" placeholder="Search">
                        </div>
                        <button id="searchButton" type="button" class="btn btn-default ">Search</button>
                    </form>

                    <!--  <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:;">ADD</a></li>
                    </ul> -->
                </div>
            </div>
        </nav>

        <!-- list body -->
        <ul class="list-group myBadgeCursor">
            <li class="list-group-item list-group-item-title"><span class="badge badge-add" onclick="">
                    <font size="5">ADD</font>
                </span>
                <h3>Flashcard</h3></li>
            <!-- //*** 修改這裡  -->

            <li class="list-group-item-replaced"></li>
        </ul>
    </div>
    <!-- /list -->

    <!-- 分頁 -->
    <div class="container">
        <div class="container col-lg-10">
            <ul class="pager">
                <li>
                    <ul class="pagination">
                        <li></li>

                        <!-- 首頁 -->
                        <li class="disabled??? pager-first"><a class="hrefDisabled???" href="javascript:;"
                                style="width: 55px;">&laquo;</a></li>

                        <!-- 上一頁 -->
                        <li class="disabled??? pager-previous"><a class="hrefDisabled???" href="javascript:;"
                                style="width: 55px;">&lsaquo;</a></li>

                        <!-- 中間頁數 -->
                        <li class="pager-pageNum-replaced"></li>

                        <!-- 下一頁 -->
                        <li class="disabled??? pager-next"><a class="hrefDisabled???" href="javascript:;"
                                style="width: 55px;">&rsaquo;</a></li>

                        <!-- 最末頁 -->
                        <li class="disabled??? pager-last"><a class="hrefDisabled???" href="javascript:;"
                                style="width: 55px;">&raquo;</a></li>

                        <li></li>
                    </ul> <!-- goto page num -->
                    <ul class="pagination" style="margin-left: 20px;">
                        <li></li>
                        <li class="pager-goto"><a href="javascript:;" style="height: 38px; vertical-align: middle;">Goto</a></li>
                    </ul>

                    <ul class="pagination">
                        <li class="pager-goto-pagenum"><a href="javascript:;">
                                <table>
                                    <tr>
                                        <td><input type="text" class="form-control form-control-pagenum"
                                                style="height: 26px;" size="4" /></td>
                                    </tr>
                                </table>
                            </a></li>
                        <li></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /分頁 -->

    <!-- 模態框 用於 list delete-->
    <div class="modal fade" tabindex="-1" role="dialog" id="listDeleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Flashcard</h4>
                    <!-- //*** 修改這裡  -->
                </div>
                <div class="modal-body">
                    <label id="modal_term" style="font-size: 20px;">term</label>
                    <!-- //*** 修改這裡  -->
                </div>
                <div class="modal-body">
                    <label id="modal_definition" style="font-size: 20px;">definition</label>
                    <!-- //*** 修改這裡  -->
                </div>
                <div class="modal-footer">
                    <form id="modal_form" action="" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <font color="black">Close</font>
                        </button>
                        <button id="model_delete" type="submit" class="btn btn-primary" style="background: red;">Delete
                            Data</button>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal (for list delete)-->

</body>
</html>