<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="idv.fc.dao.itf.FlashcardDao">

	<select id="selectAll" resultType="Flashcard">
		select * from flashcard
	</select>

	<select id="selectById" resultType="Flashcard">
		select * from flashcard where id = #{id}
	</select>

	<select id="selectByTerm" resultType="Flashcard">
		select * from flashcard where term = #{term}
	</select>

	<select id="selectByTermUsingLike" resultType="Flashcard">
		select * from flashcard
		<trim prefix="where">
			<if test="term != null and term !=''">
				term like "%"#{pattern}"%"
			</if>
		</trim>
		order by term
	</select>

	<select id="countByTermUsingLikeLeadByPattern" resultType="Integer">
		select count(*) from flashcard
		<trim prefix="where">
			<if test="term != null and term !=''">
				term like "%"#{pattern}"%"
				and term &gt; #{pattern}
			</if>
		</trim>
	</select>

	<insert id="create" parameterType="Flashcard">
		insert into flashcard
		(term,definition)values(#{term},#{definition});
	</insert>

	<update id="update" parameterType="Flashcard">
		update flashcard set
		term=#{term},definition=#{definition},
		number_of_quiz_times=#{numberOfQuizTimes},
		pass_the_quiz_times=#{passTheQuizTimes}
		where id = #{id};
	</update>

	<delete id="delete">
		delete from flashcard where id = #{id};
	</delete>


</mapper>