<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="idv.fc.dao.itf.HolderDataDao">

	<resultMap type="HolderDataDTO" id="baseHDResultMap">
		<id column="id" property="id" />
		<result column="fh_id" property="fhId" />

		<association property="flashcardHolderDTO" column="fh_id"
			select="idv.fc.dao.itf.FlashcardHolderDao.selectByIdJoinFc" fetchType="lazy">
		</association>

		<association property="status" column="status_id"
			select="idv.fc.dao.itf.StatusDao.selectById" fetchType="lazy">
		</association>
	</resultMap>

	<resultMap type="HolderDataDTO" id="baseEagerLoadingResultMap">
		<id column="id" property="id" />
		<result column="fh_id" property="fhId" />

		<association property="flashcardHolderDTO" column="fh_id"
			select="idv.fc.dao.itf.FlashcardHolderDao.selectByIdJoinFc" fetchType="eager">
		</association>

		<association property="status" column="status_id"
			select="idv.fc.dao.itf.StatusDao.selectById" fetchType="eager">
		</association>
	</resultMap>

	<select id="selectAll" resultType="HolderData">
		select * from HolderData
	</select>

	<select id="selectById" resultType="HolderData">
		select * from HolderData where id = #{id}
	</select>

	<select id="selectByIdJoinFH" resultMap="baseEagerLoadingResultMap">
		select * from HolderData where id = #{id}
	</select>

	<insert id="create" parameterType="HolderData">
		insert into HolderData
		(fh_id,status_id)values(#{fhId},#{statusId});
	</insert>

	<update id="update" parameterType="HolderData">
		update HolderData set
		fh_id=#{fhId} where id = #{id};
	</update>

	<delete id="delete">
		delete from HolderData where id = #{id};
	</delete>



	<select id="selectAllJoinFh" resultMap="baseEagerLoadingResultMap">
		select * from holderData
	</select>

	<select id="selectCountByFHID" resultType="int">
		select count(*) from holderData where
		fh_id=#{fhId}
	</select>

</mapper>