<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd">

<!--  
	<context:annotation-config />
	-->
	
	 <!-- Spring MVC不處理靜態資源 -->
	 <!--  
	<mvc:default-servlet-handler />
-->

	<mvc:annotation-driven
		conversion-service="converterUtil" />

	<context:component-scan
		base-package="idv.fc"></context:component-scan>

	<context:property-placeholder
		location="classpath:idv/fc/config/jdbc.properties" />



	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<bean id="converterUtil"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="idv.fc.tool.TimestampConverter" />
			</list>
		</property>
	</bean>

<!--  
	<bean name="/process/vocabulary/add"
		class="idv.kwl.handle.controller.concrete.CreateVocabularyController">
		<property name="viewName" value="testresult" />
		<property name="dao" ref="VocabularyDao" />
		<property name="model" value="VocabularyProxy" />
	</bean>

	<bean name="/process/vocabulary/delete"
		class="idv.kwl.handle.controller.concrete.DeleteVocabularyController">
		<property name="viewName" value="testresult" />
		<property name="dao" ref="VocabularyDao" />
	</bean>

	<bean name="/process/vocabulary/update"
		class="idv.kwl.handle.controller.concrete.UpdateVocabularyController">
		<property name="viewName" value="testresult" />
		<property name="dao" ref="VocabularyDao" />
		<property name="model" value="VocabularyProxy" />
	</bean>

	<bean name="/process/vocabulary/query"
		class="idv.kwl.handle.controller.concrete.QueryVocabularyController">
		<property name="viewName" value="testlist" />
		<property name="dao" ref="VocabularyDao" />
	</bean>
-->

	<bean id="DataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>${jdbc.driverClassName}</value>
		</property>
		<property name="url">
			<value>${jdbc.url}</value>
		</property>
		<property name="username">
			<value>${jdbc.username}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>

	</bean>



	<bean id="handleableCase"
		class="idv.kwl.handle.cardhandler.drawcardcase.DrawCardCase"
		scope="prototype">
		<property name="drawRule" ref="drawRule" />
	</bean>

	<bean id="drawRule"
		class="idv.kwl.handle.cardhandler.drawcardcase.Rule1"
		scope="prototype">
	</bean>




</beans>