<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../webjars/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">
  $(function() {
	$("#aa").css("visibility","hidden");
	$("#bb").attr("xxx","");
  });
</script>

</head>
<body>
    <h1>Test9</h1>
    <span id="aa" onclick="">
        <font size="5">xxx</font>
    </span>
     <span id="bb" onclick="">
        <font size="5">yyy</font>
    </span>
</body>
</html>