<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd">

<!--  
	<mvc:annotation-driven />
	<context:annotation-config />
	-->
	
	 <!-- Spring MVC不處理靜態資源 -->
	 <!--  
	<mvc:default-servlet-handler />
-->

	<context:component-scan
		base-package="idv.kwl,spring"></context:component-scan>


	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

<!-- 搜索不到 test package -->
<!-- 
	<bean name="/test" class="spring.TestController"></bean>
 -->

<!--  
	<bean name="/word/vocabulary/test"
		class="idv.kwl.handle.controller.concrete.TestController">
		<property name="viewName" value="testresult" />
		<property name="dao" ref="VocabularyDao" />
		<property name="model" ref="VocabularyModel" />

	</bean>
-->

	<bean name="/word/vocabulary/add,/vocabulary/add"
		class="idv.kwl.handle.controller.concrete.CreateVocabularyController">
		<property name="viewName" value="testresult" />
		<property name="dao" ref="VocabularyDao" />
		<property name="model" ref="VocabularyProxy" />
	</bean>

	<bean name="/word/vocabulary/delete,/vocabulary/delete"
		class="idv.kwl.handle.controller.concrete.DeleteVocabularyController">
		<property name="viewName" value="testresult" />
		<property name="dao" ref="VocabularyDao" />
		<property name="model" ref="VocabularyModel" />
	</bean>

	<bean name="/word/vocabulary/update,/vocabulary/update"
		class="idv.kwl.handle.controller.concrete.UpdateVocabularyController">
		<property name="viewName" value="testresult" />
		<property name="dao" ref="VocabularyDao" />
		<property name="model" ref="VocabularyProxy" />
	</bean>

	<bean name="/vocabulary/query"
		class="idv.kwl.handle.controller.concrete.QueryVocabularyController">
		<property name="viewName" value="testresult" />
		<property name="dao" ref="VocabularyDao" />
		<property name="model" ref="VocabularyProxy" />
	</bean>


	<bean id="DataSource" class="idv.kwl.connection.DataSource"
		scope="prototype">
		<property name="username" value="root" />
		<property name="password" value="1234" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/flashcardv2?useSSL=false&amp;serverTimezone=UTC&amp;useUnicode=true&amp;characterEncoding=UTF-8" />
		<property name="driver" value="com.mysql.jdbc.Driver" />
	</bean>




</beans>