<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="idv.fc.dao.itf.HolderDataDao">

	<select id="selectAll" resultType="HolderData">
		select * from HolderData
	</select>

	<select id="selectById" resultType="HolderData">
		select * from HolderData where id = #{id}
	</select>

	<insert id="create" parameterType="HolderData">
		insert into HolderData
		(fh_id,status_id)values(#{fhId},#{statusId});
	</insert>

	<update id="update" parameterType="HolderData">
		update HolderData set
		fh_id=#{fhId} where id = #{id};
	</update>

	<delete id="delete">
		delete from HolderData where id = #{id};
	</delete>

	<resultMap type="HolderDataDTO" id="baseHDResultMap">
		<result column="fh_id" property="fhId" />

		<association property="flashcardHolderDTO" column="fh_id"
			select="idv.fc.dao.itf.FlashcardHolderDao.selectByIdJoinFc">
		</association>
		
		<association property="status" column="status_id"
			select="idv.fc.dao.itf.StatusDao.selectById">
		</association>
	</resultMap>

	<select id="selectAllJoinFh" resultMap="baseHDResultMap">
		select * from holderData
		<where>
			<if test="statusId !=null">
				and status_id=#{statusId}
			</if>
		</where>
	</select>

</mapper>